/* Light Theme Properties */

:root {
  --foreground-rgb: #1F1B16;
  --background-rgb: #F9F2F2;
}

/* Dark Theme Properties */

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: #F9F2F2;*/
/*    --background-rgb: #1F1B16;*/
/*  }*/
/*}*/

/* Global CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

::selection {
  color: var(--background-rgb);
  background-color: var(--foreground-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

.material-symbols {
  font-size: inherit;
  font-variation-settings: inherit;
}
